<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://172.29.8.117:9999');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('ev2', { my: 'data' });
  });
</script>